/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.products {
  display: inline-grid; 
  border-style: solid;
  border-color: #9eecff;
  width: 230px;
  height: auto;
  margin: 5px;
  background-color: #e6faff;
  text-align: center;
}

.shopping-cart {
  width: 750px;
  margin: 80px auto;
  box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.10);
  flex-direction: column;
}

.title {
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
}
 
.item {
  padding: 20px 30px;
  display: flex;
  border-top:  1px solid #E1E8EE;
}

.buttons {
  margin-right: 60px;
  display: flex;
  align-self: center;
}

.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
}

.description span:last-child {
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  margin-right: 60px;
  display: flex;
  align-self: center;
}

.quantity input {
  border: none;
  text-align: center;
  width: 32px;
}

.total-price {
  align-self: center;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 200px;
  }

  .image,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}
